/* Font: Lato
Font colors:
Dark grey: 444545
Grey: 818486
Dark orange: d26f1b
Orange: f7923d

Tamaños tipografia:
User name (esquina superior derecha): 13px
Buttons: 14px
Titles: 20px
Texts/sub-titles: 18px
Input field names: 16px
Colored buttons: 18px
Login form textfield names: 16px
Title: forgot password: 24px
Text: forgot password: 16px (Only black text)
Survey list boxes titles: 18px
Survey list boxes info: 14px
Staff lists: 18px

Colores Fondos y objetos
Naranja: f7923d
Gris claro: fbfbfb
Gris oscuro: 989898
Verde: 106d1b */


body, html {
	font-family: 'Lato', sans-serif;
	background-color: #fbfbfb;
	color: #818486;
}

input.form-control {
	margin-bottom: 13px;
	border-radius: 0;
  	border-radius: 0;
}

label {
	color: #818486;
	margin-bottom: 2px;
}
.form-control:focus {
    border-color: #f7923d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 146, 61, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 146, 61, .6);
}
.main-logo {
	display: block;
	width: 400px;
	height: 98px;
	margin: 25px auto 30px;
	background-image: url("../img/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.btn-orange {
	background-color: #f7923d;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
	border-radius: 3px;
}

.header {
	width: 100%;
	height: 15px;
	background-color: #f7923d;
}
.form-signin span {
	display: block;
	width: 100%;
	text-align: center;
}

.form-signin span a {
	color: #818486;
}

.form-signin {
	max-width: 480px;
	padding: 20px 60px;
	margin: 0 auto;
	background-color: #fff;
	border: solid 1px #dfdfdf;
}
.form-signin h2 {
	text-align: center;
	margin-top: 0;
	font-size: 24px;
	color: #818486;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.forgot-info {
	margin-top: -5px;
	margin-bottom: 15px;
	font-size: 13px;
	color: #444545;
	text-align: center;
}

/* MAIN NAVBAR */

.navbar-default {
	background-color: #FFF;
}
.navbar-default .primary {
	padding-right: 20px;
}

.navbar-default .primary > hr {
    float: left;
    width: 5px;
    border-color: #818486;
}

.navbar-default .primary li a {
    color: #f7923d;
    background-color: #FFF;
    padding: 7px 7px 0 7px;
}

.navbar-default .primary li a:hover, 
.navbar-default .primary:focus {
    color: #d26f1b;
    background-color: #FFF;
}
.navbar-default .secondary li a {
    color: #f7923d;
    background-color: #FFF;
    padding: 7px 7px 0 7px;
}
.navbar-default .secondary li a:hover, 
.navbar-default .secondary:focus {
    color: #d26f1b;
    background-color: #FFF;
}

/* HELPER CLASS FOR CURRENT PAGE */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #d26f1b;
    background-color: #FFF;
}

a.navbar-brand {
	display: block;
	width: 280px;
	height: 68px;
	margin-left: 15px;
	background-image: url("../img/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

section.main-content {
	margin-top: 90px;
}

section h1.title {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	color: #444545;
}

section h2.info-title {
	margin-left: 15px;
	margin-bottom: 20px;
	font-size: 18px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
}