/* Font: Lato
Font colors:
Dark grey: 444545
Grey: 818486
Dark orange: d26f1b
Orange: f7923d

Tamaños tipografia:
User name (esquina superior derecha): 13px
Buttons: 14px
Titles: 20px
Texts/sub-titles: 18px
Input field names: 16px
Colored buttons: 18px
Login form textfield names: 16px
Title: forgot password: 24px
Text: forgot password: 16px (Only black text)
Survey list boxes titles: 18px
Survey list boxes info: 14px
Staff lists: 18px

Colores Fondos y objetos
Naranja: f7923d
Gris claro: fbfbfb
Gris oscuro: 989898
Verde: 106d1b */


body, html {
	font-family: 'Lato', sans-serif;
	background-color: #fbfbfb;
	color: #818486;
}

.btn-default {
	color: #818486;
}

input.form-control {
	margin-bottom: 13px;
	border-radius: 0;
  	border-radius: 0;
}

label {
	color: #818486;
	margin-bottom: 2px;
}
.required {
	color: #f7923d;
}
.form-control:focus {
    border-color: #f7923d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 146, 61, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(247, 146, 61, .6);
}
.form-control.error {
    border-color: #a94342;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 67, 66, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(169, 67, 66, .6);
}
.g-recaptcha > div {
	margin: 0 auto 10px;
}
.main-logo {
	display: block;
	width: 400px;
	height: 98px;
	margin: 25px auto 30px;
	background-image: url("../img/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.btn-orange,
.btn-goto {
	background-color: #f7923d;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
	border-radius: 3px;
}
.btn-orange:hover,
.btn-goto:hover {
	background-color: #d26f1b;
}
.btn-orange:hover, 
.btn-green:hover,
.btn-goto:hover {
	color: #fff;
}

.btn-green {
	background-color: #106d1b;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
	border-radius: 3px;
}
.btn-goto {
	margin-right: 10px;
	font-size: 16px;
}
.btn-finish-summary {
    margin-right: 21px;
}
.header {
	width: 100%;
	height: 15px;
	background-color: #f7923d;
}
.form-signin span {
	display: block;
	width: 100%;
	text-align: center;
}

.form-signin span a {
	color: #818486;
}

.form-signin {
	max-width: 480px;
	padding: 20px 60px;
	margin: 0 auto;
	background-color: #fff;
	border: solid 1px #dfdfdf;
}
.form-signin h2 {
	text-align: center;
	margin-top: 0;
	font-size: 24px;
	color: #818486;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.forgot-info {
	margin-top: -5px;
	margin-bottom: 15px;
	font-size: 13px;
	color: #444545;
	text-align: left;
}

/* MAIN NAVBAR */

.navbar-default {
	background-color: #FFF;
	border-top: 15px solid #f7923d;
}
.navbar-default .primary {
	padding-right: 20px;
}

.navbar-default .primary > hr {
    float: left;
    width: 5px;
    border-color: #818486;
}

.navbar-default .primary li a {
    color: #f7923d;
    background-color: #FFF;
    padding: 7px 7px 0 7px;
}

.navbar-default .primary li a:hover, 
.navbar-default .primary:focus {
    color: #d26f1b;
    background-color: #FFF;
}

.navbar-default .nav-secondary {
	margin-top: 20px;
	padding-right: 0px;
}

.navbar-default .nav-secondary li a {
    color: #818486;
    background-color: #FFF;
    padding: 0px 15px 0 15px;
    border-right: 1px solid #818486;
    line-height: 14px;
}


.navbar-default .number-survey {
	margin-top: 20px;
	padding-right: 10px;
}

.navbar-default .number-survey p {
    color: #818486;
    line-height: 14px;
}

.navbar-default .nav-secondary li:last-child a {
    border-right: 0px;
}
.navbar-default .nav-secondary li a:hover, 
.navbar-default .nav-secondary:focus {
    color: #444545;
    background-color: #FFF;
}

.myclearfix {
	clear: both;
	width: 10px;
}
/* HELPER CLASS FOR CURRENT PAGE */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #d26f1b;
    background-color: #FFF;
}

a.navbar-brand {
	display: block;
	width: 280px;
	height: 68px;
	margin-left: 15px;
	background-image: url("../img/logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

section.main-content {
	margin-top: 90px;
}

section h1.title {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}

section h2.sub-title {
	text-align: left;
    margin-bottom: 20px;
	font-size: 20px;
    color: #444545;
    font-weight: bold;
}

section h3.sub-title {
    font-size: 16px;
    text-align: left;
    color: #555545;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
}

form.create-user .btn-green {
	margin-top: 20px;
}

.card {
	display: block;
	background-color: #fff;
	border: 1px solid #e7e7e7;
	width: 100%;
	min-height: 2px;
	padding: 15px 10px 10px 10px;
	margin-bottom: 20px;
}

.card h3 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}

.card p {
	margin-bottom: 5px;
}

.main-content hr {
	margin-top: 10px;
}
.card footer {
	margin-top: 10px;
}
.card footer p {
	margin-left: 10px;
	display: inline-block;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 10px 15px;
}

table.table {
	border: 1px solid #ddd;
	padding: 10px;
	background-color: #FFF;
	font-size: 14px;
}

.table td.action,
.table th.action {
	text-align: center;
}

.table td.action.off i {
	color: red;
}

.table td.action.on i {
	color: green;
}
.sub-title {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.question {
	font-size: 16px;
	color: #808080;
    font-weight: bold;
}

.survey-card {
    display: block;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    width: 100%;
    min-height: 2px;
    padding: 15px 10px 10px 10px;
    margin-bottom: 20px;
    overflow: auto;
    zoom: 1;
}

.survey-card .radio {
	margin-top: 0;
}

    .survey-card input[type="text"],
    .survey-card input[type="email"],
    .survey-card select,
    .survey-card textarea {
        width: 100%;
        margin-bottom: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.survey-card select {
    padding:2px;
}

.mb1 {
    margin-bottom:1em;
}

.mb8 {
    margin-bottom: 8em;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}