<div class="header"></div>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right primary">
				<li><a href="#">User name here</a></li>
				<hr>
				<li><a href="#">Sign out</a></li>
			</ul>
			<div class="clearfix"></div>
			<!-- <ul class="nav navbar-nav navbar-right secondary">
				<li><a href="#">Link</a></li>
			</ul> -->
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<section class="main-content">
	<div class="container-fluid">
		<h1 class="title">Create Staff Account</h1>
		<h2 class="info-title">Basic information (All fields must be filled in)</h2>
		<form class="create-user" action="">
			<div class="col-sm-12 col-md-6 col-lg-4">
				<label for="" class="required">Full name:</label>
				<input type="text" id="" class="form-control" placeholder="" required autofocus>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4">
				<label for="" class="required">Phone Number:</label>
				<input type="phone" id="" class="form-control" placeholder="">
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4">
				<label for="" class="required">E-mail:</label>
				<input type="email" id="" class="form-control" placeholder="" required>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4">
				<label for="inputPassword" class="required">Password:</label>
				<input type="password" id="" class="form-control" placeholder="" required>
			</div>

			<div class="col-sm-12 col-md-6 col-lg-4">
				<label for="inputPassword" class="required">Repeat Password:</label>
				<input type="password" id="inputPassword" class="form-control" placeholder="" required>
			</div>
			
			<div class="col-sm-12 col-md-6 col-lg-4">
				<div class="form-group">
					<label for="" class="required">Role/Position:</label>
					<select class="selectpicker form-control">
						<option>Select your Option</option>
						<option>Admin</option>
						<option>Editor</option>
					</select>
				</div>
			</div>

			<div class="clearfix"></div>
			<button class="btn btn-lg btn-green center-block" type="submit">Send & Register</button>
		</form>
	</div>
</section>