<div class="header"></div>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right primary">
				<li><a href="#">User name here</a></li>
				<hr>
				<li><a href="#">Sign out</a></li>
			</ul>
			<div class="clearfix"></div>
			<!-- <ul class="nav navbar-nav navbar-right secondary">
				<li><a href="#">Link</a></li>
			</ul> -->
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<section class="main-content">
	<div class="container-fluid">
		<h1 class="title">Dashboard</h1>
		<h2 class="info-title">Ongoing Surveys</h2>

		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<h3>Title Survey</h3>
				<p>Questions: <strong>25</strong></p>
				
			</div>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<h3>Title Survey</h3>
				<p>Questions: <strong>25</strong></p>
				
			</div>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<h3>Title Survey</h3>
				<p>Questions: <strong>25</strong></p>
				
			</div>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<h3>Title Survey</h3>
				<p>Questions: <strong>25</strong></p>
				
			</div>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<h3>Title Survey</h3>
				<p>Questions: <strong>25</strong></p>
				
			</div>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<h3>Title Survey</h3>
				<p>Questions: <strong>25</strong></p>
				
			</div>
		</div>
		
		<div class="col-sm-12"><hr></div>
		
		<h2 class="info-title">Finished Surveys</h2>

		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<h3>Title Survey</h3>
				<p>Questions: <strong>25</strong></p>
				<p>Project Status: <strong>open</strong></p>
				<footer>
					<button class="btn btn-lg btn-orange" type="submit">Request More Info</button>
					<p>Asigned to: <strong>Jose Gomez</strong></p>
				</footer>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card">
				<h3>Title Survey</h3>
				<p>Questions: <strong>25</strong></p>
				<p>Project Status: <strong>open</strong></p>
				<footer>
					<button class="btn btn-lg btn-orange" type="submit">Request More Info</button>
					<p>Asigned to: <strong>Jose Gomez</strong></p>
				</footer>
			</div>
		</div>

	</div>
</section>
