
<div class="header"></div>
<div class="container">
	<div class="main-logo"></div>	
	<form class="form-signin" action="/password-reset.html">
		<h2 class="form-signin-heading">Forgot Password?</h2>
		<hr>
		<p class="forgot-info">Enter e-mail address and we'll send you a password reset link with instructions. Remember to check your spam/junk folder if the e-mail dosen't show in your inbox.</p>
		<label for="email" class="sr-only">Registered e-mail account:</label>
		<input type="email" id="" class="form-control" placeholder="" required autofocus>
		<button class="btn btn-lg btn-orange center-block" type="submit">Send Reset Link</button>
	</form>
</div>
