
<div class="header"></div>
<div class="container">
	<div class="main-logo"></div>
	<form class="form-signin" id="form" name="form" novalidate>
		<h2 class="form-signin-heading">Forgot Password?</h2>
		<hr>
        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">{{message}}</div>
		<p class="forgot-info">Enter e-mail address and we'll send you a password reset link with instructions. Remember to check your spam/junk folder if the e-mail dosen't show in your inbox.</p>
		<label for="email" class="sr-only">Registered e-mail account:</label>
		<input type="email" id="" class="form-control" placeholder="" ng-required="true" data-ng-model="email" autofocus>
        <div ng-show="!email && form.$submitted" class="alert alert-warning">Required field</div>
        <input class="btn btn-lg btn-orange center-block" type="submit" ng-disabled="form.$invalid" data-ng-click="sendRecoveryInstruction()" ng-hide="sendingData" value="Send Reset Link" />
        <br />
        <div class="text-center" ng-show="sendingData"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>Sending e-mail. Wait just a moment...</div>
        <hr>
        <span class="text-center">
            <a href="/login">Back</a>
        </span>
	</form>
</div>
