<div class="header">
	
</div>
<div class="container">
	<div class="main-logo">
		
	</div>	
  <form class="form-signin" action="/survey.html">
    <h2 class="form-signin-heading">Login</h2>
    <hr>

    <label for="" class="">Email:</label>
    <input type="text" id="" class="form-control" placeholder="" required autofocus>

    <label for="inputPassword" class="">Password:</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="" required>
    <button class="btn btn-lg btn-orange center-block" type="submit">Login</button>
    <hr>

    <span class="">
        <a class="pull-left" href="/signin.html">Not yet registered?</a>
        -
        <a class="pull-right" href="/forgot-password.html">Forgot your password?</a>
    </span>
  </form>

</div> <!-- /container -->