<div class="header"></div>
<div class="container">
	<div class="main-logo"></div>
  <form class="form-signin" id="form" name="form" novalidate >
    <h2 class="form-signin-heading">Login</h2>
    <hr>
		<div data-ng-hide="message == ''" class="alert alert-danger">{{message}}</div>
    <label for="" class="">Email:</label>
    <input type="text" id="" class="form-control" placeholder="" data-ng-model="loginData.username" required autofocus>
    <label for="inputPassword" class="">Password:</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="" data-ng-model="loginData.password" required>
    <input class="btn btn-lg btn-orange center-block" type="submit" ng-disabled="form.$invalid" data-ng-click="login()" value="Login" >
		<br />
    <div class="text-center" ng-show="sendingData"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>Wait just a moment...</div>
    <hr>
    <span class="">
        <a class="pull-left" href="/signin">Not yet registered?</a>
        -
        <a class="pull-right" href="/forgot-password">Forgot your password?</a>
    </span>
  </form>
</div>
