<div class="header"></div>
<div class="container">
	<div class="main-logo"></div>
	<form class="form-signin" id="form" name="form" novalidate >
		<h2 class="form-signin-heading">Password Reset</h2>
		<hr>
		<div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">{{message}}</div>
		<label for="" class="">New Password:</label>
		<input type="password" id="" class="form-control" placeholder="" required data-ng-model="registration.newPassword" autofocus>
		<label for="" class="">Confirm New Password:</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="" data-ng-model="registration.newPassword" required>
		<input class="btn btn-lg btn-orange center-block" type="submit" ng-disabled="form.$invalid" data-ng-click="newPassword()" value="Set New Password" />
	</form>
</div>
