<div class="header"></div>
<div class="container">
	<div class="main-logo"></div>	
	<form class="form-signin" action="/index.html">
		<h2 class="form-signin-heading">Password Reset</h2>
		<hr>
		<label for="" class="">New Password:</label>
		<input type="password" id="" class="form-control" placeholder="" required autofocus>
		<label for="" class="">Confirm New Password:</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="" required>
		<button class="btn btn-lg btn-orange center-block" type="submit">Set New Password</button>
	</form>
</div>