<div class="header"></div>
<div class="container">
	<div class="main-logo"></div>
	<form class="form-signin" id="form" name="form" novalidate >
		<h2 class="form-signin-heading">Password Reset</h2>
		<hr>
		<div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">{{message}}</div>
		<label for="" class="">New Password:</label>
		<input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="" required data-ng-model="resetPasswordData.newPassword" autofocus>
		<label for="" class="">Confirm New Password:</label>
		<input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" placeholder="" data-password-verify="resetPasswordData.newPassword" data-ng-model="resetPasswordData.confirmNewPassword" required>
		<input class="btn btn-lg btn-orange center-block" type="submit" ng-disabled="form.$invalid" data-ng-click="resetPassword()" value="Set New Password" />
		<div class="alert alert-danger" ng-show="form.confirmNewPassword.$error.passwordVerify">Password and Repeat Password are not equal!</div>
		<br />
    <div class="text-center" ng-show="sendingData"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>Updating password. Wait just a moment...</div>
	</form>
</div>
