<div class="header"></div>
<div class="container">
	<div class="main-logo"></div>
  <form class="form-signin" novalidate >
    <h2 class="form-signin-heading">Create User Account</h2>
    <hr>
		<div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
    <label for="" class="">Full name:</label>
    <input type="text" id="" class="form-control" placeholder="" required data-ng-model="registration.userName" autofocus>

    <label for="inputEmail" class="">e-mail account:</label>
    <input type="email" id="inputEmail" class="form-control" placeholder=""  data-ng-model="registration.email" required>

    <label for="inputPassword" class="">Password:</label>
    <input type="password" id="" class="form-control" placeholder="" data-ng-model="registration.password" required>

    <label for="inputPassword" class="">Repeat Password:</label>
    <input type="password" id="" class="form-control" placeholder="" data-ng-model="registration.confirmPassword" required>
    <div class="g-recaptcha" data-sitekey="6LcWpRUUAAAAACbBSGWE_6tSKEkHcstmbTdDNklb"></div>
    <button class="btn btn-lg btn-orange btn-block" type="submit" data-ng-click="signUp()">Create Account</button>
    <hr>

    <span class="text-center">
        <a href="/login">Account created? Login here</a>
    </span>
  </form>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
