<div class="header"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="pull-right">
                <ul class="nav navbar-nav navbar-right primary">
                    <li><a href="">{{ user.username }}</a></li>
                    <hr />
                    <li><a data-ng-click="logOut()" style="cursor:pointer">Sign out</a></li>
                </ul>
                <div class="myclearfix"></div>
                <ul class="nav navbar-nav navbar-right number-survey">
                    <p>Progress Status: <strong>Answers Confirmation</strong></p>
                </ul>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<section class="main-content">
    <div class="container-fluid">
        <h1 class="title">Summary</h1>
        <div class="col-lg-10 col-lg-offset-1 col-md-12">
            <div ng-repeat="summary in summaryData" repeat-done="showData()">
                <h2 class="question">Step {{summary.page}}: {{summary.section_name}}</h2>
                
                <div ng-repeat="ss in summary.subsection">
                    
                    <h3 class="sub-title" ng-hide="ss.id === 0">Sub-Section: {{ss.name}}</h3>
                    
                    <div class="survey-card">
                        <div ng-repeat="q in ss.questions">
                            <ul>
                                <li>
                                    <label>{{q.description}}</label>
                                    <div ng-if="q.questionOption.length === 1">
                                        <span>{{q.questionOption[0].uniqueAnswer}}</span>
                                    </div>

                                    <div ng-if="q.questionOption.length > 1">
                                        <div ng-repeat="qo in q.questionOption">
                                            <ul>
                                                <li>
                                                    <label>{{qo.optionText}}<br /></label>
                                                    <span ng-show="qo.optionType !== 'radio' && qo.optionType !== 'checkbox'">{{qo.uniqueAnswer}}</span>
                                                    <span ng-show="(qo.optionType === 'radio' && qo.uniqueAnswer === qo.optionText) || ( qo.optionType === 'checkbox' && qo.uniqueAnswer ===  'true')"><i class="glyphicon glyphicon-ok-circle"></i></span>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                        <hr />
                        <a ng-href="/survey/edit/{{summary.page}}" class="btn btn-lg btn-goto pull-right"><i class="glyphicon glyphicon-edit"></i> Edit Answers</a>

                    </div>
                </div>
            </div>

            <h4 class="text-center mb1" ng-show="loadingData"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading summary list...</h4>

            <div class="mb8" ng-hide="loadingData">
                <div class="text-right mb1" ng-show="finishingSurvey"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Closing GAP document...</div>
                <a href="#" class="btn btn-lg btn-finish-summary btn-green pull-right"
                   ng-bootbox-custom-dialog
                   ng-bootbox-options="confirmFinishOptions">Accept & Finish <i class="glyphicon glyphicon-ok"></i></a>
            </div>
        </div>
    </div>

</section>
