<div class="header"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="pull-right">
                <ul class="nav navbar-nav navbar-right primary">
                    <li><a href="">{{ user.username }}</a></li>
                    <hr>
                    <li><a data-ng-click="logOut()" style="cursor:pointer">Sign out</a></li>
                </ul>
                <div class="myclearfix"></div>
                <div class="nav navbar-nav navbar-right number-survey">
                    <p>Progress Status: <strong><span ng-show="comingFromSummary()">Editing</span> Step {{ survey.page }} of {{ survey.pageTotal }}</strong></p>
                </div>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<section class="main-content">
    <div class="container-fluid">
        <h1 class="title" ng-hide="loadingData">Section {{ survey.section_id }}: {{ survey.section_name }}</h1>

        <div class="col-lg-10 col-lg-offset-1 col-md-12">
            
            <div ng-repeat="currentSubSection in survey.subsection" repeat-done="showData()">
                
                <h2 class="sub-title" ng-hide="currentSubSection.id === 0">Sub-Section: {{currentSubSection.name}}</h2>

                <div ng-repeat="question in currentSubSection.questions">
                    <div id="question{{question.id}}" ng-show="childrenQuestionUI[question.id] || childrenQuestionUI[question.id] == null">
                        <h2 class="question">{{question.description}}</h2>
                        <div class="survey-card" ng-hide="question.questionOption.length === 0">
                            <div ng-repeat="option in question.questionOption track by $index">
                                <div ng-if="option.optionType == 'radio'">
                                    <div ng-show="$index == 0 && !currentAnswer[question.id] && !saved" class="text-danger">Select an answer</div>
                                    <div ng-class="currentSubSection.questions.length === 1?'col-xs-12':'col-xs-6'">
                                        <input ng-model="currentAnswer[question.id]" ng-value="option" type="radio" name="{{question.id}}" ng-change="radioChanged(question, currentAnswer)"> {{option.optionText}} <br />
                                    </div>
                                </div>

                                <div ng-if="option.optionType == 'checkbox'">
                                    <div ng-show="$index == 0 && !questionWithCheckBox[question.id] && !saved" class="text-danger">Check at least one option</div>
                                    <div ng-class="survey.questions.length === 1?'col-xs-12':'col-xs-6'">
                                        <input type="{{option.optionType}}" ng-checked="currentAnswer[option.optionId] ==='true'" name="{{option.optionId}}" ng-change="checkBoxChanged(question, currentAnswer)" ng-model="currentAnswer[option.optionId]"> {{option.optionText}} <br />
                                    </div>
                                </div>

                                <div ng-class="currentSubSection.questions.length === 1?'col-xs-12':'col-xs-6'" ng-if="option.optionType === 'input-text'">
                                    <div class="row">
                                        <label class="col-xs-6" for="{{option.optionText}}">
                                            {{option.optionText}}
                                        </label>
                                        <div class="col-xs-6 text-danger text-right" ng-show="!validateUniqueAnswer(option) && isValidated">{{currentValidationMsg[option.optionId]}}</div>
                                    </div>
                                    <input name="{{option.optionText}}" ng-model="currentAnswer[option.optionId]" class="form-control" ng-class="{ error: !validateUniqueAnswer(option) && isValidated}" ng-change="checkForm()" type="{{currentValidationType[option.optionId]}}" />
                                </div>

                                <div ng-class="currentSubSection.questions.length === 1?'col-xs-12':'col-xs-6'" ng-if="option.optionType === 'input-date'">
                                    <div class="row">
                                        <label class="col-xs-9" for="{{option.optionText}}:">
                                            {{option.optionText}}
                                        </label>
                                        <div class="col-xs-3 text-danger text-right" ng-show="!validateUniqueAnswer(option) && isValidated">{{currentValidationMsg[option.optionId]}}</div>
                                    </div>
                                    <input name="{{option.optionText}}" ng-model="currentAnswer[option.optionId]" type="date" placeholder="MM/dd/yyyy" class="form-control" ng-class="{ error: !validateUniqueAnswer(option) && isValidated}" ng-change="checkForm()" />
                                </div>

                                <div class="col-xs-12" ng-if="option.optionType === 'input-file'">
                                    <div class="row">
                                        <label class="col-xs-6" for="{{option.optionText}}:">
                                            {{option.optionText}}
                                        </label>
                                        <div class="col-xs-6 text-danger text-right" ng-show="!validateUniqueAnswer(option) && isValidated">{{currentValidationMsg[option.optionId]}}</div>
                                    </div>
                                    <input name="{{option.optionText}}" ng-model="currentAnswer[option.optionId]" class="" ng-class="{ error: !validateUniqueAnswer(option) && isValidated}" ng-change="checkForm()" type="file" />
                                </div>

                                <div ng-class="currentSubSection.questions.length === 1?'col-xs-12':'col-xs-6'" ng-if="option.optionType === 'drop-down'">
                                    <div class="row">
                                        <label class="col-xs-6">{{option.optionText}}: </label>
                                        <div class="col-xs-6 text-danger text-right" ng-show="!validateUniqueAnswer(option) && isValidated">
                                            Select an answer from the list
                                        </div>
                                    </div>

                                    <select ng-model="dropDownElement[option.optionId]" class="form-control" ng-class="{ error: !validateUniqueAnswer(option) && isValidated}" ng-options="selectableOption.description for selectableOption in option.questionChoices track by selectableOption.id" ng-change="dropdownChanged(option.optionId)">
                                        <option value="">Select Option</option>
                                    </select>
                                </div>
                                
                                <div ng-class="currentSubSection.questions.length === 1?'col-xs-12':'col-xs-6'" ng-if="option.optionType === 'textarea'">
                                    <div class="row">
                                        <label class="col-xs-6" for="{{option.optionText}}">
                                            {{option.optionText}}
                                        </label>
                                        <div class="col-xs-6 text-danger text-right" ng-show="!validateUniqueAnswer(option) && isValidated">
                                            This answer cannot be empty
                                        </div>
                                    </div>
                                    <textarea ng-model="currentAnswer[option.optionId]" ng-class="{ error: !validateUniqueAnswer(option) && isValidated}" class="form-control" cols="50" ng-change="checkForm()"> {{option.uniqueAnswer}} </textarea>
                                </div>

                            </div>

                            <div class="clearfix pull-right" ng-if="question.hasRepeater">
                                <a href="#" class="btn btn-default" ng-click="addRepeater($parent.$index)"><i class="glyphicon glyphicon-plus-sign"></i> Add</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <h4 class="text-center mb1" ng-show="loadingData"><i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Loading data...</h4>

            <div class="mb8" ng-hide="loadingData">
                <a href="/" class="btn btn-lg btn-green pull-right" ng-class="!finishingSurvey && isValidForm ? '' : 'disabled'" ng-hide="comingFromSummary()" ng-click="saveAndExit()" type="submit">Save & Exit</a>
                <a href="#" class="btn btn-lg btn-goto pull-right" ng-class="!finishingSurvey && isValidForm ? '' : 'disabled'" ng-hide="comingFromSummary()" ng-click="next()">
                    Next <i class="glyphicon glyphicon-chevron-right"></i>
                </a>

                <a href="/" class="btn btn-lg btn-green pull-right" ng-class="!finishingSurvey && isValidForm ? '' : 'disabled'" ng-show="comingFromSummary()" ng-click="saveGoSummary()" type="submit">Update</a>

                <a href="#" class="btn btn-lg btn-goto pull-right" ng-show="comingFromSummary() || survey.page <= survey.pageTotal && survey.page > 1" ng-click="back()" ng-class="!finishingSurvey ? '' : 'disabled'">
                    <i class="glyphicon glyphicon-chevron-left"></i> Back
                </a>


            </div>
        </div>
    </div>
</section>
